.card{
    min-width: 400px;
    border: solid 1px #ccc;
    word-break: break-all;
    padding: 8px;
    display: flex  ;
    flex-direction: column;
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}